/* RESET DASAR */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f6f6;
}

/* NAVBAR */
header {
  background: #000;
  padding: 15px 30px;
}

header a {
  color: #00ff2a;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* ABOUT */
.about {
  background: #f5f5f5;
  padding: 40px;
}

.about h2 {
  margin-top: 0;
}

/* KATALOG */
.catalog {
  padding: 40px;
  background: #fff;
}

.catalog h2 {
  margin-bottom: 20px;
}

/* GRID PRODUK */
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

/* KARTU PRODUK */
.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  line-height: 1.2; /* RAPIIN TULISAN */
}

/* HOVER KARTU */
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* FOTO PRODUK */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  display: block;
  margin-bottom: 10px;
}

/* JUDUL & TEKS */
h1, h2, h3 {
  margin: 0 0 10px;
}

/* HARGA */
.product-card .price {
  color: #00aa2a;
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0;
  text-align: center;
}

/* LINK PRODUK */
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* TOMBOL WA */
.wa-btn {
  display: block;
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  background: #25D366;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.wa-btn:hover {
  background: #1ebe5d;
}

/* FOOTER */
footer {
  background: #000;
  color: #fff;
  padding: 20px;
}

footer strong {
  color: #00ff2a;
}
